<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu"></ion-back-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>




<ion-content>
  
  <p> Les problèmes de santé mentale peuvent survenir chez des personnes qui subissent des pertes importantes ou qui vivent des événements traumatisants.</p>

    <p>Nous proposons  de développer cette application qui permet  d’aider les personnes à prendre soin de leur santé.</p>

   <p> Cette applications fournit des outils aux personnes qui cherchent à améliorer leur vie. Certains sont conçus pour aider ceux qui luttent contre des problèmes comme la dépression, l'anxiété ou le SSPT...
 
    
   <p>Voilà la page officielle de l'application</p> 
<h4 class="design"> <a href="https://www.linkedin.com/" target="_blank">plus</a></h4>
</ion-content>

