<ion-content>
  <ion-card-header>
    <ion-card-title>I Care</ion-card-title>
  </ion-card-header>
  <ion-item>
    <ion-label position="floating">Email Address</ion-label>
    <ion-input type="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>
  <ion-button color="light"size="full" shape="round">Login</ion-button>
  <ion-button color="light" fill="clear"size="full">Forgot Password?</ion-button>
  <ion-button color="light"fill="clear"size="full">Don't have an account?<u>Registre now</u></ion-button>
</ion-content>